<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
        </ion-buttons>
        <ion-title>PQR</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>

    <div >
        <ion-card >
          <ion-card-content>
            
          </ion-card-content>
        </ion-card>
      </div>
    
    
    <ion-footer padding>
      <ion-item>
        <ion-textarea ></ion-textarea>
        <ion-button color="success" >
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-footer>

</ion-content>
