
<ion-content padding>
  <!-- Default Animations -->
  <ion-list *ngIf="!servicios.length">
      <ion-item *ngFor="let item of [0]">
          
                <img class="icon" src="assets/icon/delivery2.svg" >
              </ion-item>
        
              <ion-item lines ="none">
                  <ion-chip color="danger">
                     <ion-icon name="pin" ></ion-icon>
                  <ion-label>No tienes historial  asignado en el momento!</ion-label>
                  </ion-chip>
        </ion-item>
 </ion-list>
    <ion-list > 
          <ion-item-sliding *ngFor="let servicio of servicios">
            <ion-item button >
              <ion-avatar slot="start">
                <img src="assets/icon/map.svg">
              </ion-avatar>
              <ion-label>
                <p>Empresa : {{servicio.nombre }}</p>
                <p>Valor Flete : ${{servicio.flete }}</p>
                <p>Origen : {{servicio.origen }} </p>
                <p>Destino : {{servicio.destino }} </p>
              </ion-label>
              <ion-note color="success" slot="end" *ngIf="servicio.evento">{{ servicio.evento}}</ion-note>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
        
</ion-content>