<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Tab2</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  
      <ion-tabs>
  
          <ion-tab-bar slot="lot" color="primary">
            <ion-tab-button tab="tab1">
              <ion-icon name="home"></ion-icon>
              <ion-label>Disponible</ion-label>
            </ion-tab-button>
        
            <ion-tab-button tab="tab5">
              <ion-icon name="apps"></ion-icon>
              <ion-label>En Proceso</ion-label>
            </ion-tab-button>
        
            <ion-tab-button tab="tab6">
              <ion-icon name="settings"></ion-icon>
              <ion-label>Asignado</ion-label>
            </ion-tab-button>
          </ion-tab-bar>
        
        </ion-tabs>
  
  </ion-content>