
      <ion-buttons slot="start">
          <ion-back-button defaultHref="role"></ion-back-button>
      </ion-buttons>

<ion-content padding>
  <h3 text-center>Comencemos creando una cuenta</h3>
<hr>
<ion-item>
  <ion-label position="floating">Nombre</ion-label>
  <ion-input type = "text"  [(ngModel)]="firstName"  name ="firstName"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Apellidos</ion-label>
  <ion-input type = "text" [(ngModel)]="lastName"  name ="lastName"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Correo Electrónico</ion-label>
  <ion-input type = "tetx" [(ngModel)]="user"   name ="user"></ion-input>
</ion-item>
<ion-item>
<ion-label position="floating">WhatsApp</ion-label>
  <ion-input type = "text" [(ngModel)]="cel"  name ="cel"></ion-input>
</ion-item>
  <ion-item>
  <ion-label position="floating">Direccion de residencia</ion-label>
  <ion-input type = "text" [(ngModel)]="city"   name ="city"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Contraseña</ion-label>
  <ion-input type = "password" [(ngModel)]="password"   name ="password"></ion-input>
</ion-item>
  <hr/>


 <ion-label class = "letra"style="color:grey " text-justify>al continuar, acepto las condiciones del uso  de LOGISTICS y reconosco haber leido su politica de privacidad.
          <hr>
          Tambien acepto que LOGISTICS o sus representastes puedan contactar conmigo por email, Telefono o SMS (asi como a traves de medios automatizados) a través del email o del telefono que he indicado, incluso con fines promocionales.</ion-label>
        <br><br>

        <ion-button  (click)="OnSubmitRegister()" expand="block" color="secondary">Ingresar</ion-button>
        <br/> 
        <p text-center  routerLink='/login'>ya tengo cuenta!</p>

</ion-content>
