<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- fab placed to the top and end and on the top edge of the content overlapping header -->
  <ion-fab  vertical="top" horizontal="end" edge slot="fixed">
      <ion-fab-button color="secondary">
         <ion-icon name="filing"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="buttom">
       <ion-fab-button>
           <ion-icon name="create"></ion-icon>
       </ion-fab-button>
      </ion-fab-list>
   </ion-fab>

<ion-list *ngFor="let person of persons" >
  <img class="icon" src="assets/icon/login.svg" >
  
      <ion-item >
          <p> Nombre : {{ person.nombres }} {{ person.apellidos }}</p>
      </ion-item>
      <ion-item>
          <p>ID : {{ person.id }} </p>
      </ion-item>
      <ion-item>
          <p>Correo : {{ person.correo }} </p>
      </ion-item>
      <ion-item>
          <p>Dirección : {{ person.direccion }} </p>
      </ion-item>
      <ion-item>
          <p>Celular : {{ person.celular }} </p>
      </ion-item>
      <ion-item>
          <p>Rol : Conductor </p>
      </ion-item>
      
</ion-list>


</ion-content>

