<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button color="medium" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title color="medium" >Datos Basicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- fab placed to the top and end and on the top edge of the content overlapping header -->
  <ion-fab  vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button color="secondary">
       <ion-icon name="filing"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="buttom">
     <ion-fab-button>
         <ion-icon name="create"></ion-icon>
     </ion-fab-button>
    </ion-fab-list>
 </ion-fab>


<ion-list *ngFor="let Company of companys">
  <img class="icon" src="assets/icon/login.svg" >
      <ion-item>
          <p> Nombre : {{ Company.nombre }} </p>
      </ion-item>
      <ion-item>
        <p> NIT : {{ Company.nit }} </p>
    </ion-item>
      <ion-item>
          <p>ID : {{ Company.id }} </p>
      </ion-item>
      <ion-item>
          <p>Correo : {{ Company.correo }} </p>
      </ion-item>
      <ion-item>
          <p>Actividad : {{ Company.actividad }} </p>
      </ion-item>
      <ion-item>
          <p>representante : {{ Company.representante }} </p>
      </ion-item>
      <ion-item>
          <p>Rol : EMPRESA </p>
      </ion-item>
      <br>
  
</ion-list>


</ion-content>