
.my-custom-menu {
    --width: 500px;
  }
  
.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 60%;
}

ion-tabs  {
  color : rgb(155, 145, 145);
    }

ion-tabs :hover {
 color: lightseagreen;
   }
