<ion-content padding>
    <ion-list >
      <ion-item href="">
          <ion-avatar slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
          <ion-label>Servientrega</ion-label>
      </ion-item>
      <ion-item href="">
          <ion-avatar slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
          <ion-label>Ecopetrol</ion-label>
      </ion-item>
      <ion-item href="">
          <ion-avatar slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
          <ion-label>Coltanques</ion-label>
      </ion-item>
      <ion-item href="">
          <ion-avatar slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
          <ion-label>Interapidisismo</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
