<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h3 text-center>Como quieres registrarte?</h3>
    <hr>
    <ion-card (click)="pushRegisterNavCtl()"  color="gray">
        <ion-card-header>
          <ion-card-subtitle>1 solo vehículo </ion-card-subtitle>
          <ion-card-title>Conductor</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam excepturi impedit quae sapiente vel sed illo cum explicabo alias exercitationem? Ipsa harum obcaecati, consequatur impedit natus eos! Facere, earum quae?
        </ion-card-content>
      </ion-card>

</ion-content>
